@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-brandred-50: #fef2f3;
    --color-brandred-100: #fee2e2;
    --color-brandred-200: #fecaca;
    --color-brandred-300: #fca5a5;
    --color-brandred-400: #f87171;
    --color-brandred-500: #ae0d11;
    --color-brandred-600: #dc2626;
    --color-brandred-700: #b91c1c;
    --color-brandred-800: #991b1b;
    --color-brandred-900: #7f1d1d;
    --color-brandred-950: #450a0a;

    --color-primary-50: var(--color-brandred-50);
    --color-primary-100: var(--color-brandred-100);
    --color-primary-200: var(--color-brandred-200);
    --color-primary-300: var(--color-brandred-300);
    --color-primary-400: var(--color-brandred-400);
    --color-primary-500: var(--color-brandred-500);
    --color-primary-600: var(--color-brandred-600);
    --color-primary-700: var(--color-brandred-700);
    --color-primary-800: var(--color-brandred-800);
    --color-primary-900: var(--color-brandred-900);
    --color-primary-950: var(--color-brandred-950);
}

@layer base {
    * {
        @apply transition-all duration-300 ease-in-out;
    }

    body {
        @apply bg-primary-500
    }
}

* {
    font-family: monospace;
}

:root {
    font-size: 120%;
}

html {
    scroll-behavior: smooth;
}